spring:
  datasource:
    username: root # e.g., postgres
    password: 123456 # e.g., root
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/dongbaooi # e.g., foodloop
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: tungthcstt@gmail.com # your Gmail address
    password: 12345678 # Gmail app password (not real email password!)
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

application:
  security:
    jwt:
      secret-key: 635D2472BFCDB538749103121A0000117253039B34B43C5E1A26E4F1EF4BCF16 # e.g., long random string
      expiration: 86400000 # 1 day in milliseconds
      refresh-token:
        expiration: 604800000 # 7 days in milliseconds

two:
  factor:
    auth:
      otp:
        expiration-minutes: 5 # OTP valid for 5 minutes
